body {
  font-family: sans-serif;
  background-color: #131516;
  color: #e8e6e3;
}

h2 {
  font-style: italic;
  color: #3e9bc0;
  font-weight: bold;
}

p{
  margin-left: 2em;
}

.center {
  margin: 0 auto;
  text-align: center;
}